.dir{
  direction: rtl;
}
.d-none{
  display: none !important;
}
.line-left-vertical,
.line-left-vertical:hover{
  text-decoration: none !important;

}
.line-left-vertical span{
  display:inline-block;
  border-bottom:1px solid white;
  padding-bottom:2px;
}
.line-left-vertical span:hover{
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

@media (max-width: 576px) {

    .container {
      max-width: 540px;
    }
    .res-font{
        font-size:4vw !important;
    }
    .order-sm-10 {
      -ms-flex-order: 10;
      order: 10 !important;
    }
    .order-sm-2 {
      -ms-flex-order: 2;
      order: 10 !important;
    }
    
    .col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      order:1;   
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
      order:2;
    }

    .col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
            
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    
    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .order-sm-1 {
      -ms-flex-order: 1 !important;
      order: 1 !important;
    }
    .order-sm-2 {
      -ms-flex-order: 2 !important;
      order: 2 !important;
    }
    .order-sm-3 {
      -ms-flex-order: 3 !important;
      order: 3 !important;
    }
    .order-sm-4 {
      -ms-flex-order: 4;
      order: 4 !important;
    }
    .order-sm-5 {
      -ms-flex-order: 5 !important;
      order: 5 !important;
    }

    .d-block{
      display: flex !important;
    }

    .d-block-block{
      display: block !important;
    }
    
  }
@media (min-width: 576px) {

    .container {
      max-width: 540px;
    }
    .res-font{
        font-size:3vw !important;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .res-font{
        font-size:2vw !important;
    }
    .d-md-block{
      display: flex !important;
    }
    .d-md-none{
      display: none !important;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    
    *{
        color:red !important;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .res-font{
        font-size:2vw !important;
    }
  }


.dir{
    direction: rtl !important;
}
.img-height{
    max-height: 430px !important;
}

/*
    css style for single.html file
*/
.single-post-img{
    max-height: 270px !important;
}

.m_-15{
  margin:-15px;
}
.header-slider{
  max-height: 250px;
}

